PORT = 5000
JWT_SECRET = your_jwt_secret_key_qwertythekat
MONGO_URI = mongo_uri

BREVO_API_KEY=your_new_eventiq_api_key
EMAIL_FROM_NAME=EventiQ
EMAIL_FROM_ADDRESS=your_verified_email@gmail.com
SUPPORT_EMAIL=your_support_email_address

RAZORPAY_KEY_ID = rzptestkeyid
RAZORPAY_KEY_SECRET = rzptestkeysecret

NEWSLETTER_PROMO_CODE=EVENTIQ10
NEWSLETTER_PROMO_ACTIVE=true
NEWSLETTER_DISCOUNT_PERCENT=10
NEWSLETTER_MINIMUM_AMOUNT=500
NEWSLETTER_MAXIMUM_DISCOUNT=300